body{
    
    display: flex;
    background-color:skyblue;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input-part{
    background-color: white;
    height: 45vh;
    border: 1px solid black;
    border-radius: 7px;
    width: 350px;
    
}

header{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 15px;
}

.scramble-word{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 15px;
    text-align: center;
}

.hint{
    font-family: Poppins;
    margin-left: 15px;
}

input{
    display: flex;
    margin: 15px;
    width: 85%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px; 
}

.refresh{
    font-family: Poppins;
    height: 50px;
    width: 50%;
    margin-left: 15px;
    background-color: burlywood;
    outline: none;
    font-size: 15px;
}

.score{
    font-family: Poppins;
    margin-left: 15px;
}



